body,html{
	height: 100%;
}
.section{
	height: 100%;
	background: #333;
	text-align: center;
	padding-top: 2.066667rem;
	border-bottom: 1px solid #fff;
	display: none;
	box-sizing: border-box;
}
.section a{
	font-size: 2.012rem;
	color: #fff;
	text-decoration: none;
}
/*#search{
	display: block;
}*/