*{
	padding: 0;
	margin:0; 
}
body{
	background: #fafafa;
}
.header{
	width: 16.0rem;
	margin:0 auto; 
}
.header .htop{
	height: 1.28rem;
	width: 100%;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
}
.header .htop .htleft{
	width: 1.856rem;
	height: 0.981333rem;
	line-height: 0.981333rem;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	margin-top: 0.469333rem;
	padding:0rem 0.64rem 0rem 0.64rem; 
}
.header .htop .htleft .img{
	width: 0.576rem;
	height: 0.533333rem;	
	line-height: 0.533333rem;
}
.header .htop .hright{
	width: 14.144rem;
	margin-top: 0.669333rem;
}
.header .htop .hright ul{
	overflow: hidden;
	padding:0 0.128rem 0 0.128rem; 
}
.header .htop .hright ul li{
	float: left;
	list-style: none;
	padding: 0 0.469333rem 0 0.469333rem;
}
/*.header .htop .hright ul li .first{
	display: inline-block;
	box-sizing: border-box;
	padding: 0.113333rem;
	border:1px solid #fa8919;
	border-radius:10px;
}*/
.header .htop .hright ul li a{
	text-decoration:none; 
	font-size: 0.60rem;
	line-height: 1.728rem;
	color: #666;
}
.header .htop .hright ul li a img{
	width: 0.618667rem;
	height: 0.32rem;
}
.header .hcenter{
	width: 7.246667rem;
	height: 0.896rem;
	margin: 0 auto;
	font-size: 0.896rem;
	color: #666;
	margin-top: 2.304rem;
}
.header .hbottom{
	width: 13.866667rem;
	margin: 0 auto;
	margin-top: 1.706667rem;
	height: 1.92rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	line-height: 1.92rem;
	background: #fff;
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
}
.header .hbottom .img1{
	width: 0.448rem;
	height: 0.448rem;
	/*padding-left: 0.021333rem;*/
}
.header .hbottom .txt{
	width: 12.586667rem;
	height: 100%;
	color: #fa8919;
	border:none;
	font-size: 0.64rem;
	padding-left: 0.213333rem;
}
::-webkit-input-placeholder{
	color: #fa8919;
}
.main{
	width: 13.866667rem;
	margin: 0 auto;
	margin-top: 0.853333rem;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.content{
	padding:0.554667rem 0.753333rem 0rem 0.448rem;
	/*justify-content: center;*/
}
.box{
	display: flex;
	flex-direction:row;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.469333rem;
	box-sizing: border-box;

}
.content .cleft{
	width: 11.413333rem;
}
.content .cleft h2{
	font-size: 0.725333rem;
	color: #333;
	display: inline-block;
	padding-right: 0.682667rem;
}
.content .cleft .t{
	font-size: 0.512rem;
	color: #adadad;
}
.content .cleft .cl{
	font-size: 0.512rem;
	color: #adadad;
	/*padding-right:0.341333rem; */
}
.content .cleft .img2{
	width: 0.469333rem;
	padding:0 0.341333rem 0 0.341333rem; 
}
.content .cleft .cr{
	font-size: 0.512rem;
	color: #adadad;
	/*padding-right:0.341333rem; */
}
.content .cright{
	font-size: 0.74rem;
	color: #666;
}
.content1{
	padding:0.554667rem 0.753333rem 0rem 0.448rem;
	/*justify-content: center;*/
}
.box{
	display: flex;
	flex-direction:row;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.469333rem;
	box-sizing: border-box;

}
.content1 .cleft{
	width: 7.789333rem;
}
.content1 .cleft h2{
	font-size: 0.725333rem;
	color: #333;
	padding-right: 0.682667rem;
}
.content1 .cleft .cl{
	font-size: 0.512rem;
	color: #adadad;
}
.content1 .cright{
	/*display: flex;
	flex-direction:row;
	align-items: center;*/
	width: 5.824rem;
	overflow: hidden;

}
.content1 .cright .ctop{
	float: right;
}
.content1 .cright .time{
	font-size: 0.74rem;
	color: #666;
	display: inline-block;
	/*float: right;*/
	/*text-align: right;*/
}
.content1 .cright .cr{
	font-size: 0.512rem;
	color: #adadad;
	float: right;
	display: block;
}
.con{
	border-bottom:none;
}
.warp{
	width: 13.866667rem;
	margin: 0 auto;
	margin-top: 0.853333rem;
	border: 1px solid #ccc;
	border-radius: 10px;
	
}
#box{
	display: flex;
	flex-direction:row;
	align-items: center;
	padding:0.554667rem 0rem 0.554667rem 0.448rem;
}
.warp .wleft{
	width: 8.289333rem;
	background: url(img/busnew@2x.png) no-repeat center left;
	background-size: 1.036rem 1.036rem;
}
#w{
	width: 8.289333rem;
	background: url(img/diamond@2x.png) no-repeat center left;
	background-size: 1.036rem 1.036rem;
}
.warp .wleft .cl{
	padding-left: 1.2rem;
}
.warp .wleft h2{
	font-size: 0.525333rem;
	color: #333;
	padding-right: 0.682667rem;
}
.warp .wleft .cl1{
	font-size: 0.512rem;
	color: #adadad;
}
.footer{
	width: 13.866667rem;
	height: 2.773333rem;
	line-height: 2.773333rem;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	background: #ccc;
	color: #fff;
	font-size: 0.725333rem;
}